aniso8601==8.0.0
bleach==3.1.4
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
click==7.1.1
cryptography==2.9.1
cycler==0.10.0
docutils==0.16
Flask==1.1.2
Flask-RESTful==0.3.8
idna==2.9
importlib-metadata==1.6.0
itsdangerous==1.1.0
jeepney==0.4.3
Jinja2==2.11.2
joblib==0.14.1
keyring==21.2.0
kiwisolver==1.2.0
MarkupSafe==1.1.1
matplotlib==3.2.1
numpy==1.17.2
pandas==1.0.1
pkginfo==1.5.0.1
pycparser==2.20
Pygments==2.6.1
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2019.3
readme-renderer==25.0
requests==2.23.0
requests-toolbelt==0.9.1
scikit-learn==0.22.1
scipy==1.4.1
seaborn==0.10.0
SecretStorage==3.1.2
six==1.14.0
tabulate==0.8.7
tqdm==4.45.0
twine==3.1.1
urllib3==1.25.8
webencodings==0.5.1
Werkzeug==1.0.1
zipp==3.1.0
